*{
    font-family: 'Source Sans Pro';
    margin: 0px;
    
}

.navbar{
    background-color: rgb(22, 173, 22);
    color: white;
}
.footer{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
    background-color: rgb(22, 173, 22);
    color: white;
    margin: 0px;
}
h2, h3, h1{
    color: rgb(22, 173, 22);
}
.card{
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.row{
    clear: both;
}
.card img{
    padding: 3%;
    height: 200px;
}
.main-body{
    display: flex;
}
p{
    font-family: 'Source Sans Pro';
    color: rgb(43, 43, 44);
}

.body-image{
    float: left;
    position: relative;
    text-align: center;
}
.botom-center{
    position: absolute;
    bottom: 0px;
    color: rgb(95, 95, 95);
    font-size: 30px;
    left: 1%;

}
.infor{
    margin-left: 100px;
    margin-top: 5px;
    float: right;
    text-align: center;
}

.camera-body{
    display: flex;
    margin-top: 10px;
}
.camera-explain{
    float: left;
    width: 60%;
    padding: 10px;
    font-family: 'Source Sans Pro';
}
.camera-image{
    float: right;
    
}

.camera-image img{
    border-radius: 5px;
    
}
.cyber-body{
    display: flex;
    
}
.cyber-image{
    float: left;
    width: 40%;
    
}
.cyber-image img{
    width: 86%;
    border-radius: 5px;
}
.cyber-explain{
    float: right;
    width: 60%;
    padding: 10px;
    font-family: 'Source Sans Pro';
}
.website-image{
    float: right;
    width: 40%;
    
}
.website-image img{
    width: 86%;
    border-radius: 5px;
}
.website-explain{
    float: left;
    width: 60%;
    padding: 10px;
    font-family: 'Source Sans Pro';
}

