*{
    font-family: 'Source Sans Pro';
}
nav{
    color: blue;
}
.footer{
    text-align: center;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 3%;
}
.card{
    margin-top: 5%;
    margin-bottom: 5%;
}
.card img{
    padding: 3%;
    height: 25%;
}